@page "/"

<div class="mb-3">
    <button class="btn btn-secondary" @onclick="() => SetAndRollDice(1)">1</button>
    <button class="btn btn-secondary" @onclick="() => SetAndRollDice(2)">2</button>
    <button class="btn btn-secondary" @onclick="() => SetAndRollDice(3)">3</button>
    <button class="@GetDiceClass(3)" @onclick="() => SelectDice(3)">d3</button>
    <button class="@GetDiceClass(6)" @onclick="() => SelectDice(6)">d6</button>
    <button class="@GetDiceClass(8)" @onclick="() => SelectDice(8)">d8</button>
</div>
<div class="mb-3">
    <div class="input-group mb-3">
      <input inputmode="numeric" pattern="[0-9]*" type="text" class="form-control" @onfocus="() => _diceAmount = null" placeholder="Dice" aria-label="Dice" @bind="_diceAmount">
    </div>
    <div class="row align-items-center mt-2">
        <div class="col">
            <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(2)">
                2+
            </button>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(3)">
                3+
            </button>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(4)">
                4+
            </button>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col">
            <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(5)">
                5+
            </button>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(6)">
                6+
            </button>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary py-3 px-6" @onclick="RollDice">
                R
            </button>
        </div>
    </div>
</div>
<div>
    @foreach (var message in _messages)
    {
        <div class="card mb-3">
        @if (message.Results.First().RollState == RollType.None)
        {
            <div class="card-header">
                @(message.Results.First().RawResults.Count)D@(message.Results.First().DiceSides)
            </div>
        }
        @if (message.Results.First().RollState == RollType.ToHit)
        {
            <div class="card-header">
                @(message.Results.First().RawResults.Count)D@(message.Results.First().DiceSides) @(message.Results.First().DiceGoal)+ to hit
            </div>
        }
        <div class="card-body m-0">
            @foreach (var rollResult in message.Results.Select((val, index) => new { val, index}))
            {
                @if (rollResult.val.RollState == RollType.RerollBiggerThan)
                {
                    <div>
                        Reroll @(rollResult.val.DiceGoal)+ (@string.Join(", ", rollResult.val.RerollResults))
                    </div>
                }
                @if (rollResult.val.RollState == RollType.RerollSmallerThan)
                {
                    <div>
                        Reroll @(string.Join(", ", Enumerable.Range(1, rollResult.val.DiceGoal))) (@string.Join(", ", rollResult.val.RerollResults))
                    </div>
                }
                @if (rollResult.val.RollState == RollType.ToHit)
                {
                    <div>
                        <b>@(rollResult.val.SucessfullRolls) hitting</b> on @(rollResult.val.DiceGoal)+
                    </div>
                }
                @if (rollResult.val.RollState == RollType.ToWound)
                {
                    <div>
                        <b>@(rollResult.val.SucessfullRolls) wounding</b> on @(rollResult.val.DiceGoal)+
                    </div>
                }
                @if (rollResult.val.RollState == RollType.ArmorSave)
                {
                    <div>
                        <b>@(rollResult.val.FailedRolls) armor saves failed</b> on @(rollResult.val.DiceGoal)+
                    </div>
                }
                @if (rollResult.val.RollState == RollType.WardSave)
                {
                    <div>
                        <b>@(rollResult.val.FailedRolls) ward saves failed</b> on @(rollResult.val.DiceGoal)+
                    </div>
                }
                <div>
                    @(rollResult.val.RawResults.Count)D@(rollResult.val.DiceSides): <span>@string.Join(", ", rollResult.val.RawResults)
                    </span>
                    @if (rollResult.val.RawResults.Count > 1)
                    {
                        <span> (@rollResult.val.RawResults.Sum())</span>
                    }
                </div>
                <div>
                    <div class="row justify-content-between mb-3">
                        @foreach (var res in rollResult.val.GroupedResults)
                        {
                            <div class="col">
                                @res.Min+ : @res.BiggerThanAmount
                            </div>
                        }
                        @if (rollResult.index + 1 == message.Results.Count)
                        {
                            <div class="row align-items-center mt-2">
                                <div class="col">
                                    <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(2)">
                                        2+
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(3)">
                                        3+
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(4)">
                                        4+
                                    </button>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col">
                                    <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(5)">
                                        5+
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(6)">
                                        6+
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-primary py-3 px-6" @onclick="() => ContinueDices(5)">
                                        <span class="oi oi-reload" style="width: 1em" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    @if (rollResult.index + 1 == message.Results.Count)
                    {
                        <div class="row m-1">
                            <button class="btn btn-outline-danger" @onclick="DeleteLastRoll">
                                X
                            </button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    }
</div>


@inject Dice _dice

@code {
    private int? _diceAmount;
    private int _selectedDice = 6;
    private List<DiceMessage> _messages = new();
    private RollType _currentRoleState = RollType.None;
    private DiceMessage CurrentDiceMessage => _messages.FirstOrDefault();

    private void SetAndRollDice(int amount)
    {
        _diceAmount = amount;
        RollDice();
    }

    private void RollDice()
    {
        if (_diceAmount != null)
        {
            var rollResult = _dice.JustRoll(_diceAmount.Value, _selectedDice);
            var diceMessage = new DiceMessage(rollResult);
            _messages.Insert(0, diceMessage);
        }
    }

    private void SelectDice(int diceSide)
    {
        _selectedDice = diceSide;
    }

    private object GetDiceClass(int dice)
    {
        return dice == _selectedDice ? "btn btn-outline-primary" : "btn btn-outline-secondary";
    }

    private void DeleteLastRoll()
    {
        if (CurrentDiceMessage.Results.Count == 1)
        {
            _messages.RemoveAt(0);
        }
        else
        {
            CurrentDiceMessage.Results.RemoveAt(CurrentDiceMessage.Results.Count - 1);
        }
    }

    private void ContinueDices(int toHit)
    {
        if (_diceAmount != null)
        {
            if (_currentRoleState == RollType.None)
            {
                var result = DoRoll(_diceAmount.Value, toHit, null);
                _messages.Insert(0, new DiceMessage(result));
                _currentRoleState = result.RollState;
            }
            else
            {
                var result = DoRoll(0, toHit, CurrentDiceMessage.Results.Last());
                CurrentDiceMessage.Results.Add(result);
                _currentRoleState = result.RollState;

            }
        }
    }

    private RollResult DoRoll(int diceAmount, int toHit, RollResult oldResult) => _currentRoleState switch
    {
        RollType.None => _dice.ToHit(diceAmount, _selectedDice, toHit),
        RollType.ToHit => _dice.ToWound(toHit, oldResult),
        RollType.ToWound => _dice.ArmorSave(toHit, oldResult),
        RollType.ArmorSave => _dice.WardSave(toHit, oldResult),
        _ => _dice.ToHit(diceAmount, _selectedDice, toHit),
        };
    }
}

