@page "/"

<div class="mb-3">
  <button class="btn btn-secondary" @onclick="() => SetAndRollDice(1)">1</button>
  <button class="btn btn-secondary" @onclick="() => SetAndRollDice(2)">2</button>
  <button class="btn btn-secondary" @onclick="() => SetAndRollDice(3)">3</button>
  <button class="btn btn-secondary" @onclick="() => SetAndRollDice(4)">4</button>
  <button class="@GetDiceClass(3)" @onclick="() => SelectDice(3)">d3</button>
  <button class="@GetDiceClass(6)" @onclick="() => SelectDice(6)">d6</button>
  <button class="@GetDiceClass(8)" @onclick="() => SetAndRollDice(1, 8)">d8</button>
</div>
<div class="mb-3">
  <div class="input-group mb-3">
    <input inputmode="numeric" pattern="[0-9]*" type="text" class="form-control" @onfocus="PrepareForRoll" placeholder="Dice" aria-label="Dice" @bind="_diceAmount">
  </div>
  <div class="row align-items-center mt-2">
    <div class="col">
      <button class="btn btn-outline-primary w-100 my-2" @onclick="() => ClickDice(2)">
        2+
      </button>
    </div>
    <div class="col">
      <button class="btn btn-outline-primary w-100 my-2" @onclick="() => ClickDice(3)">
        3+
      </button>
    </div>
    <div class="col">
      <button class="btn btn-outline-primary w-100 my-2" @onclick="() => ClickDice(4)">
        4+
      </button>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <button class="btn btn-outline-primary w-100 my-2" @onclick="() => ClickDice(5)">
        5+
      </button>
    </div>
    <div class="col">
      <button class="btn btn-outline-primary w-100 my-2" @onclick="() => ClickDice(6)">
        6+
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-secondary w-100 my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span class="oi oi-menu" aria-hidden="true"></span>
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-header">
                <h5 class="modal-title">Actions</h5>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-outline-primary w-100 my-2" data-bs-dismiss="modal">Reroll</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-primary w-100 my-2" data-bs-dismiss="modal" disabled="@(!EnabledNoSave)" @onclick="RollWithNoSaves">
                    @if (FirstRoleState is RollState.ToWound)
                    {
                      <span>No armor saves</span>
                    } 
                    else if (FirstRoleState is RollState.ArmorSave)
                    {
                      <span>No ward saves</span>
                    }
                    else
                    {
                      <span>No saves</span>
                    }
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-primary w-100 my-2" data-bs-dismiss="modal" disabled="@(!IsFirstRoll)" @onclick="RollAutoHits">
                    Automatic hits
                  </button>
                </div>
              </div>
              <div class="modal-header">
                <h5 class="modal-title">Options</h5>
              </div>
              <div class="form-check p-3">
                <input class="form-check-input" type="checkbox" value="" id="option-battlefocus" @bind="_battlefocusChecked">
                <label class="form-check-label" for="option-battlefocus">
                  Battlefocus
                </label>
              </div>
              <div class="form-check p-3">
                <input class="form-check-input" type="checkbox" value="" id="option-poison" @bind="_poisonChecked">
                <label class="form-check-label" for="option-poison">
                  Poison
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  @foreach (var message in _messages.Select((value, index) => new {value, index}))
  {
    <div class="card mb-3">
      @if (FirstRoleState == RollState.None)
      {
        <div class="card-header">
          @(message.value.Results.First().RawResults.Count)D@(message.value.Results.First().DiceSides)
        </div>
      }
      @if (FirstRoleState == RollState.AutomaticHit)
      {
        <div class="card-header">
          @(message.value.Results.Last().RawResults.Count) automatic hits
        </div>
      }
      @if (FirstRoleState == RollState.ToHit)
      {
        <div class="card-header">
          @(message.value.Results.Last().RawResults.Count) attacks hitting on @(message.value.Results.First().DiceGoal)+ 
        </div>
      }
      <div class="card-body m-0">
        @foreach (var rollResult in message.value.Results.Select((val, index) => new {val, index}))
        {
          <div>
            @if (rollResult.val.RollState == RollState.RerollBiggerThan)
            {
              <div>
                Reroll @(rollResult.val.DiceGoal)+ (@string.Join(", ", rollResult.val.RerollResults))
              </div>
            }
            @if (rollResult.val.RollState == RollState.RerollSmallerThan)
            {
              <div>
                Reroll @(string.Join(", ", Enumerable.Range(1, rollResult.val.DiceGoal))) (@string.Join(", ", rollResult.val.RerollResults))
              </div>
            }
            @if (rollResult.val.RollState == RollState.ToHit)
            {
              <div>
                <b>@(rollResult.val.SucessfullRolls) hitting</b>
                @if (rollResult.val.BattleFocus)
                {
                  <span> (+@rollResult.val.BattleFocusHits hits from Battlefocus)</span>  
                }
                <span> on @(rollResult.val.DiceGoal)+</span>
              </div>
            }
            @if (rollResult.val.RollState == RollState.ToWound)
            {
              <div>
                <b>@(rollResult.val.SucessfullRolls) wounding</b>
                 @if (rollResult.val.Poison)
                  {
                    <span> (+@rollResult.val.PoisonHits wounds from Poison)</span>  
                  }
                <span> on @(rollResult.val.DiceGoal)+</span>
              </div>
            }
            @if (rollResult.val.RollState == RollState.AutomaticHit)
            {
              <div>
                <b>@(rollResult.val.SucessfullRolls) automatic hits</b>
              </div>
            }
            @if (rollResult.val.RollState == RollState.ArmorSave)
            {
              @if (rollResult.val.DiceGoal == _defaultNoRoll)
              {
                <div class="mb-3">
                  <b>No armor saves rolled</b>
                </div>
              }
              else
              {
                <div>
                  <b>@(rollResult.val.FailedRolls) armor saves failed</b> on @(rollResult.val.DiceGoal)+
                </div>
              }
            }
            @if (rollResult.val.RollState == RollState.WardSave)
            {
              @if (rollResult.val.DiceGoal == _defaultNoRoll)
              {
                <div class="mb-3">
                  <b>No ward saves rolled</b>
                </div>
              }
              else
              {
                <div>
                  <b>@(rollResult.val.FailedRolls) ward saves failed</b> on @(rollResult.val.DiceGoal)+
                </div>
              }
            }

            <div>
              @if (rollResult.index == 0 && message.index == 0)
              {
                <button class="btn btn-outline-danger float-end" @onclick="DeleteLastRoll">
                  X
                </button>  
              }
              else
              {
                <button class="btn btn-outline-danger float-end" style="visibility: collapse">
                  X
                </button>  
              }
            </div>
          </div>
          @if (rollResult.val.DiceGoal != _defaultNoRoll && rollResult.val.RollState != RollState.AutomaticHit)
          {
            <div>
              <span>@(rollResult.val.RawResults.Count)D@(rollResult.val.DiceSides): </span>
              @if (rollResult.val.DiceGoal == 0)
              {
                @string.Join(", ", rollResult.val.RawResults)
              }
              else
              {
                @foreach (var res in rollResult.val.RawResults.Select((value, index) => new {value, index}))
                {
                  if (rollResult.val.DiceGoal > res.value && rollResult.val.DiceGoal != 0)
                  {
                    <span class="red">
                      @(res.value)
                      @if (res.index + 1 != rollResult.val.RawResults.Count)
                      {
                        <span>, </span>
                      }
                    </span>
                  }
                  else
                  {
                    <span class="green">
                      @(res.value)
                      @if (res.index + 1 != rollResult.val.RawResults.Count)
                      {
                        <span>, </span>
                      }
                    </span>
                  }
                }
              }
              @if (rollResult.val.RawResults.Count > 1)
              {
                <span> (@rollResult.val.RawResults.Sum())</span>
              }
            </div>
            <div>
              <div class="row justify-content-between mb-3">
                @foreach (var res in rollResult.val.GroupedResults)
                {
                  <div class="col">
                    @res.Min+ : @res.BiggerThanAmount
                  </div>
                }
              </div>
            </div>
          }
        }
      </div>
    </div>
  }
</div>

@inject Dice _dice

@code {
  private int? _diceAmount;
  private int _selectedDice = 6;
  private int _defaultNoRoll = 7;
  private bool _poisonChecked = false;
  private bool _battlefocusChecked = false;
  private bool EnabledNoSave => CurrentDiceMessage?.Results?.First()?.RollState is RollState.ToWound or RollState.ArmorSave;
  private bool IsFirstRoll => FirstRoleState is RollState.WardSave or RollState.None;
  private readonly List<DiceMessage> _messages = new();
  private RollState FirstRoleState => CurrentDiceMessage?.Results?.First().RollState ?? RollState.None;
  private DiceMessage CurrentDiceMessage => _messages.FirstOrDefault();

  private void SetAndRollDice(int amount)
  {
    _diceAmount = amount;
    RollDice();
  }

  private void RollDice()
  {
    if (_diceAmount != null)
    {
      var rollResult = _dice.JustRoll(_diceAmount.Value, _selectedDice);
      var diceMessage = new DiceMessage(rollResult);
      _messages.Insert(0, diceMessage);
    }
  }

  private void SelectDice(int diceSide)
  {
    _selectedDice = diceSide;
  }

  private object GetDiceClass(int dice)
  {
    return dice == _selectedDice ? "btn btn-outline-primary" : "btn btn-outline-secondary";
  }

  private void DeleteLastRoll()
  {
    var rollResults = CurrentDiceMessage.Results;
    if (rollResults.Count == 1)
    {
      _messages.RemoveAt(0);
    }
    else
    {
      rollResults.RemoveAt(0);
    }
  }

  private void ClickDice(int toHit)
  {
    if (_diceAmount != null)
    {
      if (IsFirstRoll)
      {
        var result = DoRoll(_diceAmount.Value, toHit, null, false);
        _messages.Insert(0, new DiceMessage(result));
      }
      else
      {
        var rollResults = CurrentDiceMessage.Results;
        var lastResult = rollResults.First();
        var result = DoRoll(0, toHit, lastResult, false);
        rollResults.Insert(0, result);
      }
    }
  }

  private RollResult DoRoll(int diceAmount, int toHit, RollResult oldResult, bool automaticHits)
  {
    var rollResult = FirstRoleState switch
    {
      RollState.None => _dice.ToHit(diceAmount, _selectedDice, toHit, automaticHits, _battlefocusChecked, _poisonChecked),
      RollState.AutomaticHit => _dice.ToWound(toHit, oldResult),
      RollState.ToHit => _dice.ToWound(toHit, oldResult),
      RollState.ToWound => _dice.ArmorSave(toHit, oldResult),
      RollState.ArmorSave => _dice.WardSave(toHit, oldResult),
      _ => _dice.ToHit(diceAmount, _selectedDice, toHit, automaticHits, _battlefocusChecked, _poisonChecked)
      };
    _battlefocusChecked = false;
    _poisonChecked = false;
    return rollResult;
  }

  private void SetAndRollDice(int amount, int sides)
  {
    _selectedDice = sides;
    SetAndRollDice(amount);
  }

  private void PrepareForRoll()
  {
    _diceAmount = null;
    _selectedDice = 6;
  }

  private void RollWithNoSaves()
  {
    if (CurrentDiceMessage?.Results?.First()?.RollState == RollState.ToWound)
    {
      var rollResults = CurrentDiceMessage.Results;
      var lastResult = rollResults.First();
      var result = new RollResult(lastResult.RawResults, lastResult.RerollResults, lastResult.DiceSides, RollState.ArmorSave, _defaultNoRoll, false, false, lastResult.BattleFocus, lastResult.Poison, lastResult.PoisonHits);
      rollResults.Insert(0, result);
    }
    else if (CurrentDiceMessage?.Results?.First()?.RollState == RollState.ArmorSave)
    {
      var rollResults = CurrentDiceMessage.Results;
      var lastResult = rollResults.First();
      var result = new RollResult(lastResult.RawResults, lastResult.RerollResults, lastResult.DiceSides, RollState.WardSave, _defaultNoRoll, false, false, lastResult.BattleFocus, lastResult.Poison, lastResult.PoisonHits);
      rollResults.Insert(0, result);
    }
  }

  private void RollAutoHits()
  {
    if (IsFirstRoll && _diceAmount != null)
    {
      var result = DoRoll(_diceAmount.Value, 0, null, true);
      _messages.Insert(0, new DiceMessage(result));
    }
  }
}